.productPage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
margin: 10px;
  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
}
